/* You can add global styles to this file, and also import other style files */

// -----------------------------------------------------------------------------
// This file contains all application-wide colors.
// -----------------------------------------------------------------------------

// Primary
$yt-light-blue: #2988b5;
$yt-dark-blue:#1b5875;
$yt-light-gray: #dedede;
$yt-dark-gray: #aaaaaa;


//text
$yt-text:#555555;

//Validation
$yt-dark-red:#a93a44;
$yt-light-red:#ffe8ea;